body {
  background-color: black;
  margin: 0;
  width: 100%;
}

nav {
  background-color: black;

  overflow: hidden;
  position: fixed;
   top: 0;
   width: 100%;
}

.navmenu {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li a {
  color: #808080;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  padding-right: 20px;
  text-decoration: none;
}

a:hover {
  color: #2d2d2d;
}

nav ul li {
  padding: 0;
  display: inline-block;
}

label {
  color: white;
  font-size: 30px;
text-align: right;
display: none;
}



button {
  font-family: 'Prata', serif;
  font-weight: 100;
  font-size: 20px;
  padding: 12px 30px;
  background-color: #fcf504;
  border: none;
}


header {
  display: inline-block;
  width: 60%;
  padding: 0 80px;
  margin-top: 80px;

}

.logos {
  margin: 90px 0;
  justify-content: space-between;
  display: flex;
  padding: 0 80px;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 4rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 0;
  padding-right: 20px;
}

h2 {
  font-family: 'Prata', serif;
  color: white;
  font-size: 2.3rem;
  font-weight: lighter;
  margin: 5px 0;
  padding-right: 20px;
}

h3 {
  font-family: 'Prata', serif;
  color: white;
  padding-right: 20px;
}

p {
  font-family: 'Inter', sans-serif;
  color: #808080;
  font-size: 1.3rem;
  margin-top: 0;
  padding-right: 20px;
}

img {
  width: 100%;
  margin-bottom: 25px;
}

.sec1 {
  columns: 500px 2;
  column-gap: 70px;
  margin-bottom: 60px;
  padding: 0 80px;
}

.sec2 {
  padding: 30px 0;
  background-color: #2e2e2e;
  margin-bottom: 70px;
}

.info2 {
  padding: 0 80px;
  columns: 500px 2;
  column-gap: 70px;
}

.sec3 {
  padding: 0 80px;
  width: 45%;
}

footer {
  margin-top: 30px;

  background-color: #2e2e2e;
}

.footer {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer svg {
  padding-right: 10px;
}

@media only screen and (max-width: 920px) {
  header {
    width: 100%;
  box-sizing: border-box;
  }

  .sec3 {
    width: 70%;
  }

  label {
    display: block;
    cursor: pointer;

  }

.menu {
display: none;
}

.btn-top {
  display: none;

}
}
